@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
		font-family: 'Poppins', sans-serif;
		background: #141e38; /* Old browsers */
		background: -webkit-linear-gradient(to right, #2b5585, #17264d);
		/* Chrome 10-25, Safari 5.1-6 */
		background: linear-gradient(to right, #295074, #172649);
		/* Chrome 26+, Safari 7+, W3C, IE 10+/Edge, Firefox 16+ */
		min-height: 100vh;
	}
}
